/* body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-size: 100%;
} */


#headshot {
    width: 30%;
    height: auto;
}

.bnb {
    text-align: center;
}

.jumbotron {
    display: inline-block;
    background: rgba(255, 255, 255,  0.5);
}

.image-link {
    height: 48px;
    width: auto;
}

h1 {
    font-family: "Lucida Console", Monaco, monospace;
}

